$bg-white: white;

$bg-bege: #F5F3F1;

$bg-grey: #514F4D;

$bg-dark: #131313;

$bg-lime: #FCED70;

$p-color-navy: rgb(39, 39, 79);

$p-color-leaf: rgb(91, 112, 70);

$p-color-wine: rgb(91, 37, 46);

$p-color-night: rgb(20, 20, 31);

$p-color-light-grey: rgb(204, 204, 204);

$check-grey: rgb(156, 156, 156);

$check-light-grey: rgb(232, 232, 232);
