@import '../parciais/colors';
@import '../parciais/typo';

.btn__shop, .btn__cart{
    background-color: $bg-lime;
    border: none;
    border-radius: 4px;
    padding: 16px 24px 16px;
    &:hover{
        cursor: pointer;
    }
}

.btn__more{
    background-color: $bg-lime;
    border: none;
    border-radius: 4px;
    padding: 16px 24px 16px;
    margin-bottom: 40px;
    &:hover{
        cursor: pointer;
        box-shadow: 0 5px 5px 0 lightgray;
    }
}

.btn__subscribe{
    background-color: $bg-bege;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 16px 24px 16px;
    &:hover{
        cursor: pointer;
    }
}

@media screen and (max-width: 768px) {
    .btn__subscribe{
        border: 1.5px solid $bg-bege;
        border-radius: 4px;
        width: 100%;
    }
}